.footer{

    font-family:Verdana, Geneva, Tahoma, sans-serif;

    margin-top:50px;

    padding:20px;

    background:#1e293b;

    color:#ffffff;

    text-align:center;

}


.footer p{

    color:#e5e7eb;

}


.footer h2,
.footer h3{

    color:#ffffff;

}


.footer a{

    color:#60a5fa;

}