.auth-page{
    min-height: calc(100vh - 150px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f8fc;
}

/* CARD */
.auth-container{
    width: 420px;
    padding: 40px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 12px 35px rgba(0,0,0,0.12);
}

/* TITLE */
.auth-container h1{
    text-align: center;
    margin-bottom: 20px;
    font-family: "Times New Roman", serif;
    font-size: 40px;
    color: #1f2937;
}

/* FORM */
.auth-container form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* INPUT */
.auth-container input{
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 12px;
    background: #eef4fb;
    color: #111827;
    font-size: 16px;
    box-sizing: border-box;
}

.auth-container input::placeholder{
    color: #6b7280;
    font-weight: 500;
}

.auth-container input:focus{
    outline: 2px solid #3b82f6;
}

/* BUTTON */
.auth-container button{
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(90deg,#38bdf8,#2563eb);
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}

.auth-container button:hover{
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(37,99,235,.35);
}

/* DARK MODE */
body.dark .auth-page{
    background: #111827;
}

body.dark .auth-container{
    background: #243746;
}

body.dark .auth-container h1{
    color: white;
}

body.dark .auth-container input{
    background: #5b7f94;
    color: white;
}

body.dark .auth-container input::placeholder{
    color: white;
}